# Environment variables
.env

# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Google Cloud SDK
.gcloud/

# Local function for cloud uploads.
.upload_assets.py
.convert_flags.py
.rename_flags.py

